#mainHeader{
    width: 1440px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
}

#mainHeader img{
    margin-top: 5vh;
}

#mainHeader header{
    font-size: 4rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainHeader p{
    font-size: 1.2rem;
    max-width: 450px;
}

.flexCenter{
    display: flex;
    flex-wrap: nowrap;
}

#mainHeader div{
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

#mainHeader div *{
    margin: 15px 0 15px 0;
}

#mainHeader button{
    color: white;
    background-color:#E4C1AE ;
    border: 2px solid #E4C1AE;
    border-radius: 30px;
    padding: 15px 30px;
    width: 175px;
}
@media (min-width: 1100px) {
    #mainHeader{
        width: 1050px;
    }
    
    }
 @media (max-width: 1100px) and (min-width: 1000px) {

    #mainHeader{
        width: 950px;
    }
        
    }
@media (max-width: 1000px) and (min-width: 800px) {

    #mainHeader{
        width: 750px;
    }
        
    }
 @media (max-width: 800px) and (min-width: 500px) {
    #mainHeader{
         width: 450px;
    }
        
    }
    @media (max-width: 500px) {

        #mainHeader{
            width: 90%;
        }
        
        }